html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style-type: none;
}
