/* POSICIONAMENTO */

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* BODY*/
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  background-color: #4864c0;
  height: 200px;
}

.logoBemol {
  max-width: 400px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 40px 0px 40px 140px;
}

h1 {
  color: #1d2f8a;
  font-size: 61px;
  font-weight: 700;
  line-height: 67px;
  width: 468px;
  height: 201px;
  margin-bottom: 20px;
}

/* MAIN- PRIMEIRA SECAO */
.firstSection {
  /*  inserir altura da main de 660 px*/
  /* margin-top: 30px;*/
  height: 660px;
}

.firstSection p {
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  color: #1d2f8a;
  width: 396px;
  text-align: left;
  margin-bottom: 15px;
}

.linkAbrirConta {
  display: inline-block;
  width: 336px;
  border-radius: 10px;
  padding: 16px 24px 16px 24px;
  background-color: #ffc04a;
  color: #1d2f8a;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.linkAbrirConta:hover {
  /* inserir hover no botao*/
  background-color: #4864c0;
  color: #ffc04a;
}

.mainPhoneImage {
  max-width: 264px;
}

/* SEGUNDA SECAO */
.secondSection {
  max-width: 1200px;
  max-height: 699px;
  margin: auto;
}

.secondSection h6 {
  width: 415px;
  color: #1d2f8a;
  margin-left: 15px;
}

.reginaImg {
  height: 570px;
  width: 570px;
}

.cardVantagens {
  flex-wrap: wrap;
  max-width: 450px;
  max-height: 655px;
  justify-content: space-between;
}

.miniCard {
  width: 220px;
  margin: 5px auto;
}

.miniCard span {
  /* alinhamento a esquerda e color*/
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 218px;
  height: 52px;
  color: #1d2f8a;
}

/* TERCEIRA SECAO */
.thirdSection {
  background-color: #4864c0;
  height: 461px;
  width: 1120px;
  border-radius: 70px;
  margin: auto;
  margin-bottom: 60px;
}

.thirdSectionTitle {
  margin: 0 auto;
  height: 407px;
  width: 353px;
}

.thirdSectionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thirdSectionDescription p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  text-align: left;
  margin-bottom: 60px;
}

/*QUARTA SECAO*/

.fourthSection {
  height: 600px;
  width: 1120px;
  margin: 20px auto;
}

/*QUINTA SECAO - CALCULADORA*/

.fifthSection {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#calculatorContainer {
  height: 468px;
}

#calculatorContainer h3 {
  height: 134px;
  width: 647px;
  font-size: 61px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  color: #1d2f8a;
  margin-bottom: 40px;
}

#inputValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

#inputValue input {
  /*mostrar essas alterações*/
  height: 50px;
  width: 416px;
  border: none;
  border-bottom: 2px solid #1d2f8a;
  margin-bottom: 15px;
  outline: none;
  font-size: 25px;
  color: #1d2f8a;
}

#inputValue span {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #0a102e;
  height: 17px;
  width: 350px;
  margin-bottom: 15px;
}

#timeInput {
  /*alterações no container tempo*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#timeInput span {
  font-size: 25px;
  color: #1d2f8a;
}

#timeInput input {
  width: 416px;
}

.simulatorButton {
  /*estilização do button*/
  border-radius: 10px;
  padding: 2px 5px;
  border: 2px solid #ffc04a;
  color: #1d2f8a;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.simulatorButton:hover {
  border-color: #1d2f8a;
  opacity: 60%;
}

#simulatorTimeBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.containerSimulatorBox {
  height: 307px;
  width: 434px;
  background-color: #4864c0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 4px;
}

#simulatorDay,
#simulatorMonth {
  width: 100%;
}

.estilizacaoSpan {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #ffffff;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pointsDivOne {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}

.starsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.starsDiv span {
  height: 65px;
  width: 33px;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  color: #ffffff;
}

.estilizac
/*SEXTA SECAO */

.sixthSection {
  height: 188px;
  width: 1140px;
  margin: 0 auto;
  margin: 30px;
}

.sixthSection h3 {
  font-size: 39px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #1d2f8a;
  width: 500px;
}

.containerButtons {
  height: 188px;
  width: 513px;
  padding: 10px;
}

.linkFaq {
  width: 336px;
  border-radius: 10px;
  padding: 16px 24px 16px 24px;
  border: 3px solid #ffc04a;
  color: #1d2f8a;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
}

.linkFaq:hover {
  background-color: #ffc04a;
  border-color: #1d2f8a;
}

footer {
  background-color: #4864c0;
  border-radius: 45px 45px 0 0;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgRedes {
  height: 96px;
  width: 289px;
}

.imgLogos {
  height: 102px;
  width: 590px;
}
